WcfServiceClient/Service References/ServiceReference2/newHost2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="multiplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multiplayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reverseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="concat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="concatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="concatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>